[submodule "rlottie"]
	path = packages/core/third_party/rlottie
	url = https://github.com/Samsung/rlottie.git
	branch = v0.2
[submodule "libwebp"]
	path = packages/core/third_party/libwebp
	url = https://github.com/webmproject/libwebp.git
	branch = v1.3.0
