[submodule "core/third_party/rlottie"]
	path = core/third_party/rlottie
	url = https://github.com/Samsung/rlottie.git
	branch = v0.2
[submodule "core/third_party/libwebp"]
	path = core/third_party/libwebp
	url = http://github.com/webmproject/libwebp
	branch = v1.2.4
